<nav>
  <ul>
    <li><a routerLink="/home" [routerLinkActive]="rame">Home</a></li>
    <li><a routerLink="/about" [routerLinkActive]="rame">About</a></li>
    <li><a routerLink="/contact" [routerLinkActive]="rame">Contact</a></li>
    <li><a routerLink="/menu" [routerLinkActive]="rame">Menu</a></li>
    <li><a routerLink="/parent" [routerLinkActive]="rame">Parent</a></li>
    <li><a routerLink="/parent2" [routerLinkActive]="rame">Parent2</a></li>
    <li>
      <a routerLink="/testSignal" [routerLinkActive]="rame">TestSignal</a>
    </li>
     <li *ngIf="!isAuth()">
      <a routerLink="/login" [routerLinkActive]="rame">Log In</a>
    </li>
    <button (click)="logOut()" *ngIf="isAuth()">Log Out</button>
    <li>user name : {{userName}}</li>
  </ul>
</nav>
