



nav{
  ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
      padding: 0px 30px;
    li{
      a{
        text-decoration: none;
      }
    }
  }
}



a:hover{
  background-color: orange;
}
.active{
  background-color: yellow;
}