

article{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.box{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}