


.overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.39);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dialog{
  border: 2px solid black;
  box-shadow: 5px 5px 5px gray;
}