

h1{
  color: red;
}

header{
  width: 100%;
  height: 50px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: end;

}

main{
  width: 100%;
  min-height: 80vh;
  // height: 80vh;
  background-color: bisque;
}