<p>home works!</p>

<button (click)="scrolltoContact()">scrool down</button>

<h1>hi  {{homeVar}}</h1>


<div class="cont"  >
  <app-button [btnText]="el.name"  
  *ngFor="let el of cartegryArr"  
  (btnInfo)="getInfoFromChild($event)"
  
  ></app-button>
</div>


<h1 >გამარჯობა {{ userName | uppercase }} კეთილი იყოს შენი მობრძანება</h1>
<h2>{{"GEORGIA" | lowercase}}</h2>
<p>{{lowerCaseMyFn("GEORGIA")}}</p>

<p>{{trimCaseMyFn("   dsd     ")}}</p>



<h2>{{country | lowercase}}</h2>
<h3>{{50 | currency}}</h3>
<h3>{{50 | currency : "EUR"}}</h3>
<h3>{{amount | currency : "GEL"}}</h3>

<h3>{{0.05 | percent}}</h3>

<h3>{{2.65788795656 | number : "1.1-3"}}</h3>

<h3>{{[50,60,30,50] | slice : 0:1}}</h3>
<h3>{{"saxeli-" | slice : 0:6 }}</h3>

<h1>{{today | date : "shortDate"}}</h1>

<h1>{{today | date : "longDate"}}</h1>

<h1>{{today | date : "yyyy-MM-dd"}}</h1>
<h1>{{today | date : "dd/MM/yyyy"}}</h1>



<!-- "saxeli-" -->




<!-- one way binding   - ერთი მიმართულებით ჩამაგრება /   სტრინგის ინტერპოლაცია -->



<!-- ფროფერთი ბაინდინგი   []-->
<input type="text" [required]="">
<button [disabled]="isDisabled" >register</button>


<!-- event binding  () -->

<button (click)="printHEllo()">Print</button>

<p routerLink="/contact">კონტაქტზე გადასვლა</p>

<!-- two way binding     [(ngModel)]          FormsModule-->

<input type="text"  placeholder="enter age" [(ngModel)]="age">
<p>{{age}}</p>


<button (click)="showAge()">Show Age</button>
<h1>ასაკი : {{showAgeUi}}</h1>



<!-- <h2>{{product.price.currency}}</h2>
<h3>{{product.title}}</h3> -->


<h3>{{user1.greeting}}</h3>



<div class="contact" id="contact">
    <h3>tel : 5655452</h3>
</div>